<h1>Create Group</h1>
<%= form_for(@group) do |f| %>

	<%= render 'form', :f => f %>
	
	<%= f.hidden_field :user_id, :value => @user_id %>
	
	<div class='actions'>
		<%= f.submit "Create Group" %>
	</div>
	
<% end %>