<h2>What is SketchManager?</h2>

<p>
	SketchManager is a tool to help sketch comedy groups manage their ideas, scenes, shows, files, and events. Think of it as Project Management for comedy shows.
</p>

<h2>What features are currently in place?</h2>

<p>
	The tool is still in development. We currently have the ability to create groups and scenes, but the plan is to gradually add features including:
	
	<ul>
		<li>Shows</li>
		<li>Running Orders</li>
		<li>Files (including scripts and sound files)</li>
		<li>Cues</li>
		<li>Props</li>
		<li>Tasks</li>
		<li>Events (with Facebook Event integration)</li>
		<li>Roles</li>
		<li>Casting</li>
		<li>Messages</li>
	</ul>
</p>