<h1>Sketchmanager.com</h1>
<p>Welcome to Sketchmanager. The place for sketch comedy groups to keep track of their shows, scripts, scenes, and running orders.</p>

<%= link_to "Sign Up Now!", signup_path, :class => "signup_button round" %>
